{% extends 'cleanblog/_layout/home.html.twig' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% set fetched_post_count = posts.getIterator.count %}
      {% for post_count, post in posts.getIterator %}
          <div class="post-preview">
            <a href="{{ path('blog_post', {slug: post.getSlug()}) }}">
              <h2 class="post-title">
                {{ post.getTitle() }}
              </h2>
              <!--<h3 class="post-subtitle">
                Problems look mighty small from 150 miles up
              </h3>-->
            </a>
            <p class="post-meta">Posted
              on {{ post.getDate()|date("d.m.Y") }}</p>
          </div>
          {% if post_count + 1 < fetched_post_count %}
              <hr>
          {% endif %}
      {% endfor %}

      {% if totalPages > 1 %}
          <!-- Pager -->
          <div class="clearfix">
              {% if currentPage > 1 %}
                  <a class="btn btn-primary float-left" href="{{ path('blog_index_paginated', {page: currentPage-1 < 1 ? 1 : currentPage-1}) }}">« Newer Posts</a>
              {% endif %}
              {% if currentPage != totalPages %}
                  <a class="btn btn-primary float-right" href="{{ path('blog_index_paginated', {page: currentPage+1 <= totalPages ? currentPage+1 : currentPage}) }}">Older Posts »</a>
              {% endif %}
          </div>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
